<%= form_for(@imagepost) do |f| %>
  <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image, id: :imagepost_image %>
      <%= f.hidden_field :image_cache %>
      <%= f.submit "投稿", class:"btn btn-primary btn-lg" %>
  </div>
<% end %>
